* {
	background: aliceblue;
	font-family: 'Major Mono Display', monospace;
}

h1 {
	font-size: 100px;
}

h3 {
	margin-top: 5em;
}

p{
	color: black;
	text-align: center;
}

footer p {
	font-size: .25em;
	padding: 5em 0;
	border-top: solid black;
	margin-top: 20em;
}

a {
	padding: 2%;
	background: black;
	text-align: center;
	text-decoration: none;
	color: aliceblue;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	border: none;
 	border-radius: 5px;
}

.coming {
	padding: 2% 40%;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	background-color: aliceblue;
	border: none;
	padding-bottom: 10em;
}