* {
	background: aliceblue;
	font-family: 'Major Mono Display', monospace;
}

h1 {
	font-size: 100px;
}

p{
	color: black;
}

a {
	padding: 2% 40%;
	background: black;
	text-align: center;
	text-decoration: none;
	color: aliceblue;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	border: none;
	text-decoration: none;
 	border-radius: 5px;
}