* {
		background: cornsilk;
		margin: 50px;
		font-family: "helvetica";
}


section {
	position: center;
	border: solid thick black;
	padding: 40px;
}

a {
	color: black;
}

img {
	margin: 0;
	width: 20px;
}

img#wow {
	width: 600px;
	padding: 10px;
}